
<div class="google-map" hello-maps="" ></div>

<script type="text/html" id="locationsControlTemplate">
    <section class="pure-u-1-6 map-control">
        <header>
            <h3>Grab Location</h3>
        </header>
        <!--  <section ng-show="locations.filtered().length">
              <ul>
                  <li ng-repeat="location in locations.filtered()" ng-class="{completed: location.completed}">
                      <div>
                          <input type="checkbox" ng-model="location.completed">
                          <label 
                              ng-click="controls.openInfoWindowBylocationId(location.id)"
                              ng-dblclick="controls.editlocationById(location.id)">{{location.title}}</label>
                      </div>
                  </li>
              </ul>
          </section>
        -->
        <footer>
            <!--       <span ng-show="locations.remainingCount()">
                       <strong>{{locations.remainingCount()}}</strong>
                       <span ng-pluralize count="locations.remainingCount()" when="{ one: 'item left', other: 'items left' }"></span>
                   </span>-->
            <hr />
            <input type="text" ng-model="locations.searchString">
            <button ng-click="locations.filterBuy()" >filter</button>
            <hr />
            <!--     <button class="pure-button" ng-click="locations.prune()" ng-show="locations.remainingCount() < locations.items.length">
                     Clear completed ({{locations.items.length - locations.remainingCount()}})
                 </button>-->
            <div ng-show="controls.user">
            <button class="pure-button pure-button-success"  ng-click="controls.newlocation()" ng-hide="controls.editlocation">New Store</button>
            </div>
        </footer>
        {{locations.filtered().length}}
        <section ng-show="locations.filtered().length">
            <ul>
                <li ng-repeat="location in locations.filtered()" >
                    <div>
                        <!--<input type="checkbox" ng-model="location.completed">-->
                        <label 
                            ng-click="controls.openInfoWindowBylocationId(location.id)"
                            ng-dblclick="controls.editlocationById(location.id)">{{location.title}}</label>
                    </div>
                </li>
            </ul>
        </section>

    </section>
</script>

<script type="text/html" id="infoWindowTemplate">
    <div class="google-map" style="width:250px;height:300px">
        <h3>{{infow.data.title}}</h3>
        <p ng-show="infow.data.phone">Phone:{{infow.data.phone}}</p>
        <p>Addr:{{infow.data.addr}}</p>
        <p>Desc:{{infow.data.desc}}</p>
        <div style="clear: both;"></div>
    </div>
</script>

<script type="text/html" id="testWindowTemplate">

    <div>
        <div ng-hide="controls.user">
        
    <button ng-click="controls.loginclick()" ng-hide="controls.isLogin">login</button>
    </div>
 <button ng-click="controls.test()" ng-show="controls.user">Hi,{{controls.user.username}} </button> 
    </div>
</script>

<script type="text/html" id="loginFormTemplate">
   <div class="pure-u-1-6 map-control" ng-show="controls.isLogin" ng-controller="loginCtrl">
    <label for="user">User name:</label>
                <input id="username" class="pure-input-1" type="text" ng-model="user.username" ng-keypress="onkeypress($event)" 
             ng-keyup="onkeyup($event)"
             ng-keypress="onKeyPress($event)" />
                <label for="user">Password:</label>
                <input id="password" class="pure-input-1" type="password" ng-model="user.password" ng-enter="doSomething()" >
                    <button class="pure-button pure-button-primary pure-input-1" ng-click="login()">Login</button>
                    <button class="pure-button pure-button-primary pure-input-1" ng-click="reset()" >Cancel</button>
                </div>
</script>

<script type="text/html" id="editlocationControlTemplate">
    <div class="pure-u-1-6 map-control" ng-show="controls.editlocation" ng-controller="EditlocationCtrl">
        <form name="editlocationForm" class="pure-form" ng-submit="submitlocation()">
            <fieldset>
                <label for="title">Title:</label>
                <input id="title" class="pure-input-1" type="text" ng-model="editlocation.title" ng-maxlength="30" required>
                <label for="description">Description:</label>
                <input id="description" class="pure-input-1" type="text" ng-model="editlocation.desc">
                <label for="latitude">Latitude:</label>
                <input id="latitude" class="pure-input-1" type="text" ng-model="editlocation.lat">
                <label for="longitude">Longitude:</label>
                <input id="longitude" class="pure-input-1" type="text" ng-model="editlocation.lng">
                <!--            <div ng-show="editlocation.id !== -1">
                                <label for="completed">Completed:</label>
                                <input id="completed" type="checkbox" ng-model="editlocation.comp">
                            </div>-->
                <button class="pure-button pure-button-primary pure-input-1" type="submit">{{editlocation.saveMsg}}</button>
                <button class="pure-button pure-input-1" ng-click="resetCloselocationForm()">{{editlocation.cancelMsg}}</button>
            </fieldset>
        </form>
    </div>
</script>